body {
  font-family: Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

video, canvas {
  position: fixed;
    top: 0;
    left: 0;
}

video {
  /*filter: blur(2px);*/
}

#secondCanvas {
  z-index: 1000;
}

#infoContainer {
  position: absolute;
  width: 200px;
  top: 35px;
  left: 120px;
  display: flex;
  flex-direction: row;
  color: white;
  z-index: 1000;
  font-family: Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.5)
}

#infoContainer div {
  color: white !important;
  padding: 20px;
}

#gameOver {
  position: fixed;
  display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  color: red;
  z-index: 99999;
  text-align: center;
}
